.help-organizations {
  margin: 66px 48px 0 48px;

  .help-list-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid $--gray_color;

    .element-name {
      font-size: 26px;
      font-weight: normal;

    }
    .element-body {
      font-size: 18px;
      margin-top: 12px;
    }

  }

}