.navigation-container {
  width: 100%;
  max-width: 1700px;

  .logged-in {
    margin-right: 40px;

    .login, .sign-in {
      font: normal normal normal 14px/18px Open Sans;
      color: $--gray_color;
    }
  }

  .button-nav {
    margin: 0 auto;
  }

  .text-reset {
    text-decoration: none;
    font: normal normal normal 18px/24px Open Sans;
    color: $--dark_color;
  }
}


