.contact-container {
  position: relative;
  width: 100%;
  height: 850px;

  & > img {
    position: absolute;
    left: 30px;
    opacity: 0.25;
    z-index: -1;
    width: 90%;
    @include small {
      width: 100%;
      bottom: 10%;
      opacity: 0.1;
    }
  }

  .contact-content {
    position: absolute;
    top: 200px;
    right: 10vw;
    width: 40%;
    height: 50%;
    z-index: 1;

    .contact-title {
      text-align: center;
    }

    .contact-decoration {
      margin-top: 38px;
      margin-bottom: 76px;
      display: flex;
      justify-content: center;
    }

    .contact-form {
      margin-right: 50px;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .contact-name {
        text-align: center;
        width: 50%;
        font-size: 16px;
        font-weight: 600;

        & input {
          border: none;
          border-bottom: 1px solid $--gray_color;
          margin-top: 12px;
        }
      }

      .contact-mail {
        text-align: center;
        width: 50%;
        font-size: 16px;
        font-weight: 600;

        & input {
          border: none;
          border-bottom: 1px solid $--gray_color;
          margin-top: 12px;
        }
      }

      .contact-textarea {
        margin-top: 40px;

        & > label {
          display: block;
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 12px;
        }

        & > textarea {
          border: none;
          border-bottom: 1px solid $--gray_color;
          background-color: transparent;
        }

        & > button {
          margin-top: 24px;
          display: block;
          padding: 10px 20px;
          background-color: transparent;
          border: 1px solid $--gray_color;
          border-radius: 2px;
          margin-left: 80%;
          transition: 0.3s;

          &:hover {
            background-color: $--dark_color;
            color: $--light_color;
          }
        }
      }

      @include small {

        margin: 10px;
      }
    }

    @include small {
      width: 100%;
      right: 0;
    }
  }

}