.home-main {
  width: 100%;
  height: 100vh;

  .main-img {
    //width: 85vw;
    position: absolute;
    z-index: -1;
    right: 45vw;
    @include large {
      right: 560px;
    }
    @include medium {
      top: 300px;
      right: 0;
      opacity: 0.3;
    }
  }

  .main-content {
    position: absolute;
    top: 350px;
    right: 160px;
    max-width: 674px;

    .main-content-title {
      font: 30px $font-base;
      letter-spacing: -0.76px;
      color: $--dark_color;
      text-align: center;
    }

    .decoration-box {
      display: flex;
      justify-content: center;
    }

    .main-buttons {
      display: flex;
      justify-content: space-between;

      .main-content-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 265px;
        height: 100px;
        margin: 50px 22px;
        border: 1px solid $--gray_color;
        border-radius: 4px;
        text-align: center;
        transition: 0.4s;

        &:hover {
          background-color: $--dark_color;
        }

        .btn-text {
          padding: 30px 50px;
          text-decoration: none;
          color: $--gray_color;
          font: normal normal 300 30px $font-base;
          text-transform: uppercase;

          &:hover {
            color: $--light_color;

          }
        }
        @include small{
          margin: 50px auto;
        }
      }
      @include small{
        display: block;
      }
    }

    @include medium {
      position: static;
      margin: 30px ;
    }
    @include small{

    }

  }

  @include medium {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

  }

}