.navigation-container {
  position: fixed;
  right: 7vw;
  z-index: 3;
  background-color: #fff;

  .logged-in {
    width: 100%;
    margin-right: 5px;
    margin-left: 69%;

    .login {
      @include btn;
      border: 1px solid transparent;

      &:hover {
        border: 1px solid black;
      }
    }

    .sign-in {
      @include btn;

      &:hover {
        border: 1px solid black;
      }
    }
    @include medium{
      margin: 0;
      width: auto;
    }
  }

  .button-nav {
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    display: none;
    @include medium{
      margin: 10px 0;
      display: block;
    }
  }

  .navigation-content {
    .nav-item {
      display: inline-block;
      margin: 10px;

      .text-reset {
        @include text-reset;
        transition: 0.2s;

        &:hover {
          border: 1px solid $--gray_color;

        }
      }
    }
    @include medium{
      display: none;
    }
  }
  @include medium{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    right: 0;
  }
}



