.navigation-container {
  position: fixed;
  right: 7vw;
  z-index: 3;
  background-color: #fff;

  .logged-in {
    width: 100%;
    margin-right: 5px;
    margin-left: 69%;

    .login {
      @include btn;
      border: 1px solid transparent;

      &:hover {
        border: 1px solid black;
      }
    }

    .sign-in {
      @include btn;

      &:hover {
        border: 1px solid black;
      }
    }
  }

  .button-nav {
    margin: 0 auto;
    display: none;
  }

  .navigation-content {
    .nav-item {
      display: inline-block;
      margin: 10px;

      .text-reset {
        @include text-reset;
        transition: 0.2s;

        &:hover {
          border: 1px solid $--gray_color;

        }
      }
    }
  }
}


