$--light_color:#F0F1F1;
$--brown_color:#5E5322;
$--yellow_color:#FAD648;
$--gray_color:#737373;
$--dark_color:#3C3C3C;

$--open_sans: "Open Sans";
$--merriweather:"Merriweather";


*{
  box-sizing: border-box;
}



body{
  margin: 0 auto;
  position: relative;
  height: 100vh;
}